nav {
  ul {
    display: flex;
    justify-content: space-evenly;
    background: #2e719c;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    li {
      position: relative;
      display: block;
      margin: 10px;

      :hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .menu-icon {
      display: none;
    }
  }
}

@media all and (max-width: 500px) {
  .hidden li {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: column-reverse;
    .menu-icon {
      display: block;
      margin-left: auto;
    }
  }
}
